@model Mshop.Models.MCategory

@{
    ViewData["Title"] = "Edit";
      Layout = "_AdminLayout";
}

<h1>Edit Details</h1>
 

<hr />
<div class="row">
    <div class="col-sm-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-sm-5">
                <img src="@ViewBag.Picture" class="rounded" style="width:100px" />
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" type="file" multiple />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input readonly asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input  readonly asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input readonly asp-for="ModifiedDate" class="form-control" value="@DateTime.Now.ToString()" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input readonly asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>


            <div class="form-group col-sm-5">
                <input type="submit" value="Update Category" class="btn btn-danger" />
            </div>
            <div class="form-group col-sm-5">
                <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
