@model Mshop.Models.MUser
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "_UserLayout";
}

<div class="container col-sm-5 border-danger">
    <br />

    <h1 class="text-center text-white">M <i class="fas fa-laugh-wink"></i> Shop</h1>
    <h3 class="text-center text-white">Forget Password</h3>
    <br />

    <div class="center">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label text-white"></label>
                <input asp-for="DisplayName" class="form-control"   placeholder="Enter a Unique Profile Name..." />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-white"></label>
                <input asp-for="Email" class="form-control"   placeholder="Enter a Unique Profile Name..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>



            <br />
            <div class="form-group">
                <input type="submit" value="      Email Password      " class="btn text-white btn-block btn-lg btn-outline-danger" />
            </div>
            <div class="form-group">

                <a asp-action="Login" class="btn btn-block btn-lg btn-danger">      Back To Login      </a>

            </div>



        </form>
    </div>
</div>


