@model Mshop.Models.MUser
@{
    ViewData["Title"] = "Login";
    Layout = "_UserLayout";

}
    <div class="container col-sm-5 border-danger">
        <br />
        <br />
        <h1 class="text-center text-primary">M Shop</h1>
        <br />
        <br />
        <div class="center">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="sel1">Select Role</label>
                    <select class="form-control" id="sel1">
                        <option>Please Select One </option>
                        <option value="">Admin</option>
                        <option value="">Staff Member</option>

                    </select>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" placeholder="Enter Name..." />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Enter Password..." />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-check custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">Keep Me Logged In.</label>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="      Login      " class="btn btn-block btn-lg btn-outline-primary" />
                </div>
                <div class="form-group" >
                    <label class="control-label" > If You Forget Password <a href="#">Click Here</a></label>
                </div>


            </form>
        </div>
    </div>

